<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <span>Herramientas</span>
    <mat-nav-list>
      <a routerLink="home" mat-list-item>Inicio</a>
      <a routerLink="users" mat-list-item>Usuarios</a>
      <a routerLink="students" mat-list-item>Alumnos</a>
      <a routerLink="courses" mat-list-item>Cursos</a>
      <a routerLink="classes" mat-list-item>Clases</a>
      <a (click)="logout()" mat-list-item>Cerrar sesión</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Backoffice</span>
      <span class="example-spacer"></span>
      <div class="d-flex direction-column align-items-center">
        <div mat-card-avatar class="mb-0 p-2">
          <mat-icon>person</mat-icon>
        </div>
        <span
          >{{ (userData$ | async)?.name }}
          {{ (userData$ | async)?.lastName }}</span
        >
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
