<h4>Iniciar sesion</h4>
<div>
  <form [formGroup]="loginForm">
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailControl" />
      <mat-error *ngFor="let error of emailControl.errors | keyvalue">
        {{ error | controlErrorMessage }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Contrasena</mat-label>
      <input type="password" matInput [formControl]="passwordControl" />
      <mat-error *ngFor="let error of passwordControl.errors | keyvalue">
        {{ error | controlErrorMessage }}
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-end gap-4">
      <button mat-button color="black" routerLink="register">
        Registrarse
      </button>
      <button mat-flat-button color="primary" type="submit" (click)="login()">
        Ingresar
      </button>
    </div>
  </form>
</div>
