<mat-card class="form-card">
  <mat-card-header class="pb-4">
    <mat-card-title higherFont>Nuevo usuario</mat-card-title>

    <mat-card-subtitle>Campos con * son requeridos</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="container m-0" [formGroup]="userForm">
      <div class="row">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombre</mat-label>
          <input
            [formControl]="nameControl"
            type="text"
            matInput
            placeholder="Nombre"
            name="name"
            value="nameControl.value"
          />
          <mat-error *ngFor="let error of nameControl.errors | keyvalue">
            {{ error | controlErrorMessage }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Apellido</mat-label>
          <input
            [formControl]="lastNameControl"
            type="text"
            matInput
            placeholder="Apellido"
            name="lastName"
          />
          <mat-error *ngFor="let error of lastNameControl.errors | keyvalue">
            {{ error | controlErrorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Email</mat-label>
          <input
            [formControl]="emailControl"
            type="email"
            matInput
            placeholder="Email"
            name="email"
          />
          <mat-error *ngFor="let error of emailControl.errors | keyvalue">
            {{ error | controlErrorMessage }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Ingrese contraseña</mat-label>
          <input
            [formControl]="passwordControl"
            matInput
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Ocultar contraseña'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngFor="let error of passwordControl.errors | keyvalue">
            {{ error | controlErrorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button type="submit" mat-raised-button mat-dialog-close>Cancelar</button>
  <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">
    {{ isEditing ? "Actualizar" : "Guardar" }}
  </button>
</div>
