<div *ngIf="dataSource.length == 0"><app-no-data></app-no-data></div>
<table
  *ngIf="dataSource.length > 0"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef higherFont>Id</th>
    <td mat-cell *matCellDef="let student">{{ student.id }}</td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef higherFont>Nombre completo</th>
    <td mat-cell *matCellDef="let student">{{ student | fullName }}</td>
  </ng-container>

  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef higherFont>Fecha ingreso</th>
    <td mat-cell *matCellDef="let student">
      {{ student.registrationDate | date }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef higherFont>Acciones</th>
    <td mat-cell *matCellDef="let student">
      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a heart icon"
        [routerLink]="student.id"
      >
        <mat-icon
          ><span class="material-symbols-outlined"> visibility </span></mat-icon
        >
      </button>
      <span
        matTooltip="Solo un usuario con rol de administrador puede editar"
        [matTooltipDisabled]="isAdmin$ | async"
      >
        <button
          mat-icon-button
          color="black"
          aria-label="Example icon button with a heart icon"
          (click)="editStudent.emit(student)"
          [disabled]="!(isAdmin$ | async)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </span>
      <span
        matTooltip="Solo un usuario con rol de administrador puede eliminar"
        [matTooltipDisabled]="isAdmin$ | async"
      >
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a heart icon"
          (click)="deleteStudent.emit(student)"
          [disabled]="!(isAdmin$ | async)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
