<div class="mb-5">
  <span
    matTooltip="Solo un usuario con rol de administrador puede crear nuevos cursos"
    [matTooltipDisabled]="isAdmin$ | async"
  >
    <app-bo-button
      [disabled]="!(isAdmin$ | async)"
      iconName="person_add"
      label="Nuevo Alumno"
      (onClick)="onAddNewStudent()"
    ></app-bo-button>
  </span>
</div>
<div class="title d-flex">
  <mat-icon>school</mat-icon>
  <h3>Alumnos registrados</h3>
</div>
<app-students-table
  [dataSource]="(students$ | async) || []"
  (deleteStudent)="onDeleteStudent($event)"
  (editStudent)="onEditStudent($event)"
></app-students-table>
